body{
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial";
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#renderCanvas{
	position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#menu_table {
	position: relative;
	float: right;
	top: 15px;
	width: 100px;
	height: 350px;
	z-index: 1;
	
	border-spacing: 0;
    border-collapse: collapse;
	

}

.app_menu {
	float: right;
	margin-top: 15px;
	margin-bottom: 15px;
}

.ui.teal.button.active, 
.ui.teal.buttons .active.button {
	background-color: #2952CC;
}
#algoArea {
	width:98%;
}
